body {
    margin: 0;
}

html {
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(169,162,119,1) 100%);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100%;
    font-family: 'Sail', cursive;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.heading {
    color: #ffffff;
    font-size: 70px;
    line-height: 55px;
    display: flex;
    justify-content: center; 
    padding: 35px;
    border: none;
}

.heading-hair {
    color: #111111;
    font-size: 70px;
    line-height: 40px;
    display: flex;
    justify-content: center; 
    padding: 50px;
    border: none;
    text-shadow: none;
}

.div {
    background-color: #333333;
    width: 100%;
    color: #ffffff;
    font-size: 30px;
}

.menu-text:hover {
    color: #EDE7E5;
    text-shadow: 0 0 .65px #EDE7E5, 0 0 .65px #EDE7E5;
}

.cover {
    width: 100%;
    height: 700px;
    margin-left: 0;
    margin-right: 0;
    object-fit: cover;
}

.cover-container {
    width: 100%;
}

.card {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    padding: 25px;
}

.text-card {
  text-shadow: none;
  font-size: 18px;
}

.card-np {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.img-card {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-right: 25px;
    object-fit: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
  }
  
  li {
    display: inline;
    padding-right: 15px;
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  
  li a:hover {
    background-color: #111;
  }

  .icon {
    width: 25px;
    height: 25px;
    margin-right: 1em;
    margin-left: 70px;
  }

  .accordion {
    background-color: transparent;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
    transition: 0.4s;
    font-family: 'Sail', cursive;
  }
  
  .active, .accordion:hover {
    background-color: #38383811;
  }
  
  .panel {
    background-color: rgba(169, 162, 119, 0.048);
    padding: 0 18px;
    display: none;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: none;

  }

  .text-panel {
    padding-left: 8rem; 
    padding-right: 60px; 
  }

  .cosmetic-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  /*arrow  */
  .arrow {
  border: solid rgb(59, 59, 59);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 7px;
}

.arrow-right {
  border: solid rgb(117, 117, 117);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
}

.arrow-right__postion {
  margin-left: 5rem;
}

  .arrow-position {
    float: right;
    margin-right: 70px;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }